<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
		<add assembly="Nlog.RabbitMQ.Target" />
		<add assembly="NLog.Layouts.GelfLayout" />
	</extensions>
	<targets async="true">
		<target name="RabbitMQTarget"
				xsi:type="RabbitMQ"
				username="sportal"
				password="DSSportal11"
				hostname="ds-mq-staging.westeurope.cloudapp.azure.com"
				exchange="log-messages"
				exchangeType="fanout"
				port="5672"
				vhost="graylog"
				UseJSON="false">
			<layout type="GelfLayout" facility="ReturnOrder.Service.Stage" includeMdlc="true" />
		</target>
	</targets>
	<rules>
		<logger name="*" minLevel="Info" writeTo="RabbitMQTarget" final="true" />
	</rules>
</nlog>